@charset "UTF-8";
/* CSS Document */

body 
{
	background-color:#f4f4f2;
	width:304px;
	font:Times;
}

#title 
{
    margin-top:15px;
    padding-left:0px;
    padding-right:8px;
	font-size:24px;
    font-weight:bold;
	text-align:left;
	width:304px;
    color:#0a0a0a;
	word-break:word_wrap;
}

#publish_time 
{
    margin-top:10px;
    padding-left:0px;
	padding-right:8px;
	font-size:16px;
    font-weight:bold;
	text-align:left;
	width:304px;
    color:#a80a13;
	word-break:word_wrap;
}

#content 
{
    margin-top:10px;
	padding-left:0px;
	padding-right:8px;
	line-height:120%;
	width:304px;
	color:#181818;
    font-size:18px;
    font-weight:regular;
	word-break:word_wrap;
}

img
{
    margin-top:10px;
    margin-bottom:10px;
    padding:0;
    border:2px solid #ffffff;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    max-width:300px;
    height:auto;
}


