<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kMetroInfoArray</key>
	<array>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_channel</string>
			<key>kButtonTitle</key>
			<string>频道</string>
			<key>kNibFileName</key>
			<string>ChannelViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_news</string>
			<key>kButtonTitle</key>
			<string>新闻</string>
			<key>kNibFileName</key>
			<string>NewsViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_collect</string>
			<key>kButtonTitle</key>
			<string>收藏</string>
			<key>kNibFileName</key>
			<string>FavoriteViewController</string>
			<key>kNeedLogin</key>
			<true/>
		</dict>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_schedule</string>
			<key>kButtonTitle</key>
			<string>日程</string>
			<key>kNibFileName</key>
			<string>ScheduleViewController</string>
			<key>kNeedLogin</key>
			<true/>
		</dict>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_circles</string>
			<key>kButtonTitle</key>
			<string>圈子</string>
			<key>kNibFileName</key>
			<string>CirclesViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_mail</string>
			<key>kButtonTitle</key>
			<string>邮箱</string>
			<key>kNibFileName</key>
			<string>MailViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
		<dict>
			<key>kButtonImageFileName</key>
			<string>dock_btn_guide</string>
			<key>kButtonTitle</key>
			<string>新生指南</string>
			<key>kNibFileName</key>
			<string>RookieGuideViewController</string>
			<key>kNeedLogin</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
