<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kSettingInfoSectionArray</key>
	<array>
		<dict>
			<key>kSectionName</key>
			<string>账号设置</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>切换账号</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>LoginListViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>更新个人信息</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>UpdateUserInfoViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>更换头像</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>UpdateUserAvatarViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>更改密码</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>UpdateUserPasswordViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionName</key>
			<string>应用设置</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>自动同步课表</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
