<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kUserInfoSectionArray</key>
	<array>
		<dict>
			<key>kSectionName</key>
			<string>基本资料</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>姓名</string>
					<key>kContentName</key>
					<string>name</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>学号</string>
					<key>kContentName</key>
					<string>student_number</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>性别</string>
					<key>kContentName</key>
					<string>gender</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>生日</string>
					<key>kContentName</key>
					<string>birthday</string>
				</dict>
			</array>
		</dict>
        <dict>
			<key>kSectionName</key>
			<string>专业资料</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>入学年份</string>
					<key>kContentName</key>
					<string>enroll_year</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>学制</string>
					<key>kContentName</key>
					<string>plan</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>学院</string>
					<key>kContentName</key>
					<string>department</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>专业</string>
					<key>kContentName</key>
					<string>major</string>
				</dict>
			</array>
		</dict>
        <dict>
			<key>kSectionName</key>
			<string>社交资料</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>手机</string>
					<key>kContentName</key>
					<string>phone_number</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>电子邮件</string>
					<key>kContentName</key>
					<string>email_address</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>QQ</string>
					<key>kContentName</key>
					<string>qq_number</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>新浪微博</string>
					<key>kContentName</key>
					<string>sina_weibo_name</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
